* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.container-first {
    width: 100%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/80/87/5c/80875c0616a395ae9ee94ab1e585c416.gif");
    background-position: 0px 0px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 1;
}

h1 {
    line-height: 3rem;
    font-size: xxx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 242);

}

a .btn-first {
    margin-top: 30px;
    width: 322px;
    height: 10vh;
    font-size: xx-large;
    font-family: Verdana;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgb(21, 21, 102);
    color: bisque;
    transition: 0.3s ease-in-out;
}

a .btn-first:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 5px 0 white;
    cursor: pointer;
}

/*signup*/
.container-second {
    width: 100%;
    height: 100vh;
    background-image: url("https://media.tenor.com/2jkQboGOGcMAAAAM/trippy-ombre.gif");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    border: none;
    border-radius: 8px;
    background-image: url("https://cdn.pixabay.com/animation/2023/04/01/22/46/22-46-10-369_256.gif");
    width: 512px;
    height: 69vh
}

.main input {
    width: 401px;
    height: 9vh;
    border: none;
    border-radius: 8px;
    margin-top: 47px;
    text-align: center;
    font-size: larger;
}

a button {
    border: none;
    margin-top: 47px;
    margin-bottom: 30px;
    width: 200px;
    height: 8vh;
    border-radius: 8px;
    font-size: larger;
}

.container-third {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    font-family: Verdana;
    background-image: linear-gradient(rgba(244, 230, 10), rgb(255, 36, 168))
}

.main-third {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-third a img {
    width: 200px;
    height: 200px;
    border-radius: 10px;

}

.study-container {
    background-image: linear-gradient(rgb(18, 18, 14), rgb(157, 166, 58));

    width: 100%;
    height: 100vh
}

.navbar {
    width: 100%;
    height: 15vh;
    background: rgba(23, 23, 114, 0.5);
    box-shadow: 5px 5px 5px grey;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar ul li {
    display: inline;
    list-style-type: none;
    color: white;
    margin-right: 40px;
}

.navbar ul li a {
    color: white;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: cyan;
    text-decoration: underline;

}

.sidebar {

    background: white;
    width: 12%;
    height: calc(100% - 15vh);
    display: flex;
    flex-direction: column;

}

.sidebar-container {
    margin: 10px;
    cursor: pointer;
}

.sidebar li {
    /* margin: 1.5rem;    */
    padding: 1.5rem;
    border-bottom: 2px solid black;
    box-shadow: 0 3px 1px grey;

}

.inner1,.inner2,.inner3,.inner4 {
    position: absolute;
    left: 192px;
    top: 110px;
    background-color: aqua;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.inner-toggle {
    max-height: 470px;
}
