<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>Document</title>
</head>

<body>
    <div class="about-container">
        <h1>About Us</h1>
        <!-- <div class="left"> -->
            <h3>
                Hey Everyone,this website is made in such a way that the user can understand and study in proper way.In
                this website we create two section - study and play.In Study section,there are learing videos and in
                play section user can play various games.actually The games are based upon the study materials.Actually
                here ,the games are designed in such a away that user can reflects his/her knowladge in this game as the
                games are made depends upon that study materials.As there is study section as well as play section so
                the user will never get bored and can also enjoy the learning by studying as well by playing
            </h3>
        <!-- </div> -->
       
    </div>

    <h1 class="heading">
        Our team
    </h1>
    <div class="team">
        <div>
            <img src="https://e1.pxfuel.com/desktop-wallpaper/309/9/desktop-wallpaper-69318-anime-forum-avatars-cool-profile-anime.jpg" alt="">
            <h3>Pratyush Sarkar</h3>
            
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5pjLpecf1MMqblOewokzDsKFwZOfey2xEkw&usqp=CAU" alt="">
            <h3>Saikat Sundar Das</h3>

        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsYJ1XyMeJNsWOIbks0pDjKjF5qijLAKUr8A&usqp=CAU" alt="">
            <h3>Sweta Rajak</h3>

        </div>
        <div>
            <img src="https://aniyuki.com/wp-content/uploads/2022/04/aniyuki-anime-couple-avatars-76.jpg" alt="">
            <h3>Jayanta Mardi</h3>

        </div>
    </div>
</body>

</html>