<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="play.css">
    <title>Play</title>
</head>
<body>
   <div class="play-heading">
    <h1>PLay And Learn</h1>
   </div>
    <div class="play-container">
        <div>
           <a href="/colorguess"><img src="https://www.adam-mila.com/wp-content/uploads/2016/03/toddler-sorting-colors-750x498.jpg" alt=""></a>
           <h3>Guess The Color</h3>
        </div>
        <div>
            <a href="https://margaret.codewizardshq.com/js_projects_for_kids/star_catcher/star_catcher.html?_ga=2.128648716.182544493.1688941166-1243550508.1688941166"><img src="https://media.istockphoto.com/id/1155646122/vector/chasing-stars.jpg?s=612x612&w=0&k=20&c=Zq7ZiclZtUIzoSAjKO8RZD8XvoXnN2QhO_Dhy93XIFc=" alt=""></a>
            <h3>Star Catcher</h3>
         </div>
         <div>
            <a href="https://codecombat.com/"><img src="https://avatars.githubusercontent.com/u/5795842?s=280&v=4" alt=""></a>
            <h3>CodeCombat</h3>
         </div>
         <div>
            <a href="https://flexboxfroggy.com/"><img src="https://flexboxfroggy.com/favicon.ico" alt=""></a>
            <h3>Flexbox Froggy</h3>
         </div>
         <div>
            <a href="https://www.cartoonnetworkhq.com/games/ivandoe-quest-on/play"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMucJoyavNjVbtu4QL6z0Xn1aFVXJzCjFYdQ&usqp=CAU" alt=""></a>
            <h3>Ivandoe</h3>
         </div>
         <div>
            <a href="https://www.typerush.com/"><img src="https://www.typinggames.zone/web/game-thumbnails/typerush-small.png" alt=""></a>
            <h3>Type Rush</h3>
         </div>
         <div>
            <a href="https://codingfantasy.com/games/css-grid-attack/play"><img src="https://codingfantasy.com/images/seo/main-og-big.jpg?4362984378" alt=""></a>
            <h3>CSS Grid Attack</h3>
         </div>
        
    </div>
</body>
</html>